
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Workout Tracker</h1>
    <p>Please create an account to start tracking your workouts, or to test using the guest account click the guest button on the login page</p>
    
</div>
